<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="IdealCode\Banner\Ui\Component\Listing\Item\DataProvider"
                 type="IdealCode\Core\Ui\Component\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">
                IdealCode\Banner\Model\ResourceModel\Item\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="IdealCode\Banner\Controller\Adminhtml\Item\Action">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="collectionFactory" xsi:type="object">
                    IdealCode\Banner\Model\ResourceModel\Item\CollectionFactory
                </item>
                <item name="resource" xsi:type="object">IdealCode\Banner\Model\ResourceModel\Item</item>
                <item name="modelFactory" xsi:type="object">IdealCode\Banner\Model\ItemFactory</item>
                <item name="imageUploader" xsi:type="object">IdealCode\Banner\Model\Image\Upload</item>
                <item name="filesystem" xsi:type="object">Magento\Framework\Filesystem</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="IdealCode\Banner\Ui\Component\Listing\Column\Item\Action"
                 type="IdealCode\Banner\Ui\Component\Listing\Column\Action" />
    <virtualType name="IdealCode\Banner\Ui\Component\Listing\Column\Item\Image"
                 type="IdealCode\Banner\Ui\Component\Listing\Column\Image" />
    <virtualType name="IdealCode\Banner\Ui\Component\Form\Item\Buttons\Delete"
                 type="IdealCode\Core\Ui\Component\Form\Buttons\Delete">
        <arguments>
            <argument name="resource" xsi:type="object">
                IdealCode\Banner\Model\ResourceModel\Item
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="IdealCode\Banner\Ui\Component\Form\Item\Buttons\Back"
                 type="IdealCode\Core\Ui\Component\Form\Buttons\Back">
        <arguments>
            <argument name="resource" xsi:type="object">
                IdealCode\Banner\Model\ResourceModel\Item
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="IdealCode\Banner\Model\Image\Upload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="const">IdealCode\Banner\Model\Item::BASE_TEMP_PATH</argument>
            <argument name="basePath" xsi:type="const">IdealCode\Banner\Model\Item::BASE_MEDIA_PATH</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="IdealCode\Banner\Controller\Adminhtml\Item\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">IdealCode\Banner\Model\Image\Upload</argument>
        </arguments>
    </type>
    <virtualType name="IdealCode\Banner\Ui\Component\Listing\Type\DataProvider"
                 type="IdealCode\Core\Ui\Component\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">
                IdealCode\Banner\Model\ResourceModel\Type\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="IdealCode\Banner\Controller\Adminhtml\Type\Action">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="collectionFactory" xsi:type="object">
                    IdealCode\Banner\Model\ResourceModel\Type\CollectionFactory
                </item>
                <item name="resource" xsi:type="object">IdealCode\Banner\Model\ResourceModel\Type</item>
                <item name="modelFactory" xsi:type="object">IdealCode\Banner\Model\TypeFactory</item>
            </argument>
        </arguments>
    </type>
</config>
